@page "/"
@inject Blazored.LocalStorage.ISyncLocalStorageService LocalStorage
@inject IJSRuntime JSRuntime

<Jumbotron Margin="Margin.Is4.FromBottom" Background="Background.Primary">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">BlazeSnes</JumbotronTitle>
    <JumbotronSubtitle>
        Super Nintendo Entertainment System Emulator written in C#.
    </JumbotronSubtitle>
</Jumbotron>

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>
                    @(cartridge?.GameTitle ?? "No file selected.")
                </CardTitle>
            </CardHeader>
            <CardBody>
                <Tooltip Text='@($"Display Size: {canvasWidth}x{canvasHeight}")'>
                    <Slider Color="Primary" TValue="float" Min="1.0f" Max="5.0f" Step="0.1f" ValueChanged="@((e) => ChangeCanvasSize(e))"/>
                </Tooltip>
                <canvas id="emulatorCanvas" width="@canvasWidth" height="@canvasHeight" tabindex="1" @onkeydown="OnCanvasKeyDown" @onkeyup="OnCanvasKeyUp"
                        @onmousemove="OnCanvasMouseMove" @onmousedown="OnCanvasMouseDown" @onmouseup="OnCanvasMouseUp" />
            </CardBody>
        </Card>
    </Column>
</Row>

@if (isVisibleCpuDebug) {
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        Register Viewer
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        Variable Watcher
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        CPU Debugger
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
}

@if (isVisiblePpuDebug) {
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        Asset Viewer
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        BG Viewer
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        Sprite Viewer
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        Mode 7 Viewer
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                    <CardText>
                        Affine transformations debugger.
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
}

@if (isVisiblePpuDebug) {
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        SPC7000 Register
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        SPC7000 Debugger
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        Wave Viewer
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>
                        TODO:
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
}

<Row>
    <Column>
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>ROM Select</CardTitle>
            </CardHeader>
            <CardBody>
                <FileEdit type="file" Changed="ReadFile"/>
                <CardText>
                    No files will be uploaded.
                    <Link To="https://github.com/kamiyaowl/blaze-snes/tree/master/assets">
                        Sample Files
                    </Link>
                </CardText>
            </CardBody>
        </Card>
    </Column>
</Row>

@if (isVisibleRomDebug) {
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        ROM Info
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <RomInfo Cartridge="cartridge"></RomInfo>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>
                        ROM Disassemble
                        <Badge Color="Color.Secondary">Debug</Badge>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <RomDisassembler Cartridge="cartridge"></RomDisassembler>
                </CardBody>
            </Card>
        </Column>
    </Row>
}

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>
                    Debug Switch
                </CardTitle>
            </CardHeader>
            <CardBody>
                <Button Color="Color.Primary" Clicked="@(() => ToggleVisibleDebugFlags(true))">Enable All</Button>
                <Button Clicked="@(() => ToggleVisibleDebugFlags(false))">Disable All</Button>
                <Check TValue="bool" @bind-Checked="isVisibleCpuDebug">CPU</Check>
                <Check TValue="bool" @bind-Checked="isVisiblePpuDebug">PPU</Check>
                <Check TValue="bool" @bind-Checked="isVisibleApuDebug">APU</Check>
                <Check TValue="bool" @bind-Checked="isVisibleRomDebug">ROM</Check>
                <CardText>
                    More information can be displayed, but performance may be slower.
                </CardText>
            </CardBody>
        </Card>
    </Column>
</Row>

<Row>
    <Paragraph Margin="Margin.IsAuto">
        Copyright © 2020 <Link To="https://github.com/kamiyaowl/blaze-snes">kamiyaowl/blaze-snes</Link>. All Rights Reserved
    </Paragraph>
</Row>

<Snackbar @ref="snackbar">
  <SnackbarBody>
    @snackbarMessage
  </SnackbarBody>
</Snackbar>

@code {
    // TODO: .razor.csファイルに分離(これに限らず全て)

    // 固定値関連
    readonly int BASE_WIDTH = 256;
    readonly int BASE_HEIGHT = 224;
    readonly double FPS = 60;
    readonly int BYTE_PER_PIXEL = 4;
    // canvas関連
    int canvasWidth = 256;
    int canvasHeight = 224;
    // snackbarでのメッセージ表示
    Snackbar snackbar;
    string snackbarMessage;
    // デバッガ表示フラグ
    bool isVisibleCpuDebug = true; // TODO: 最終的にはDefault Disableにする
    bool isVisiblePpuDebug = false;
    bool isVisibleApuDebug = false;
    bool isVisibleRomDebug = true;

    // Emulation関係
    int counter = 0;
    byte[] frameBuffer;
    System.Timers.Timer emulateTimer;
    Cartridge cartridge;

    protected override async Task OnInitializedAsync() {
        this.frameBuffer = new byte[BASE_WIDTH * BASE_HEIGHT * BYTE_PER_PIXEL]; // RGBA32

        this.emulateTimer = new System.Timers.Timer(1.0 / FPS * 1000);
        this.emulateTimer.Elapsed += OnEmulate;
        this.emulateTimer.Start();

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await JSRuntime.InvokeAsync<object>("initEmulatorCanvas", null);

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnEmulate(object sender, EventArgs e) {
        var startMs = Environment.TickCount;
        // TODO: Emulate here
        var diffMs = Environment.TickCount - startMs;

        // TODO: sound update
        // TODO: 適当な頻度でcanvas更新を間引く

        // TEST: とりあえず適当なFrameBufferのデータを作る
        for (int j = 0; j < BASE_HEIGHT; j++) {
            for (int i = 0; i < BASE_WIDTH; i++) {
                var ptr = (j * BASE_WIDTH * BYTE_PER_PIXEL) + (i * BYTE_PER_PIXEL);
                frameBuffer[ptr + 0] = (byte)((counter + i) & 0xff);
                frameBuffer[ptr + 1] = (byte)((counter + j) & 0xff);
                frameBuffer[ptr + 2] = (byte)((counter + i + j) & 0xff);
                frameBuffer[ptr + 3] = 0xff;
            }
        }
        // GCに移動されないよう固定してJSに渡す。終わったら捨てる
        var gch = System.Runtime.InteropServices.GCHandle.Alloc(frameBuffer, System.Runtime.InteropServices.GCHandleType.Pinned);
        var pinnedAddr = gch.AddrOfPinnedObject();
        var jsRuntime = JSRuntime as Microsoft.JSInterop.WebAssembly.WebAssemblyJSRuntime;
        jsRuntime.InvokeUnmarshalled<IntPtr,string>("drawEmulatorCanvas", pinnedAddr);
        gch.Free();

        counter++;
    }
    private void OnCanvasMouseMove(MouseEventArgs e) {
    }

    private void OnCanvasMouseDown(MouseEventArgs e) {
    }

    private void OnCanvasMouseUp(MouseEventArgs e) {
    }

    private void OnCanvasKeyDown(KeyboardEventArgs e) {
    }

    private void OnCanvasKeyUp(KeyboardEventArgs e) {
    }
  
    private void ChangeCanvasSize(float ratio) {
        this.canvasWidth  = (int)(ratio * BASE_WIDTH);
        this.canvasHeight = (int)(ratio * BASE_HEIGHT);
    }

    /// SnackBarを表示します
    private void ShowSnackBar(SnackbarColor color, string text) {
        this.snackbarMessage = text;
        this.snackbar.Color = color;
        this.snackbar.Show();
    }

    /// デバッグ用UIの表示を一括で切り替えます
    private void ToggleVisibleDebugFlags(bool isVisible) {
        this.isVisibleCpuDebug = isVisible;
        this.isVisiblePpuDebug = isVisible;
        this.isVisibleApuDebug = isVisible;
        this.isVisibleRomDebug = isVisible;
    }

    // 内部情報をクリアします
    private void Clear() {
        this.cartridge = null;
        // TODO: エミュレータ本体のリセット等
    }

    public void ClearFile() {
        // 内部情報も消しておく
        this.Clear();
    }

    public async Task ReadFile(FileChangedEventArgs e) {
        // 内部情報も消しておく
        this.Clear();

        // 選択されたファイル一覧を取得
        var file = e.Files.FirstOrDefault();
        if (file == null) {
            ShowSnackBar(SnackbarColor.Danger, "no files");
            return;
        }
        // AsyncDisposableStreamそのままだとSeekできないのでMemoryStreamに載せ替え
        using(var ms = new System.IO.MemoryStream()) {
            try {
                // file->memorystream
                await file.WriteToStreamAsync(ms);
                // memorystream->cartridge parse
                ms.Seek(0, System.IO.SeekOrigin.Begin);
                this.cartridge = new Cartridge(ms);
            } catch (Exception ex) {
                ShowSnackBar(SnackbarColor.Danger, $"{ex.Message}: {file.Name}({file.Size})");
                return;
            }
        }
        // cartridgeの更新をUIに反映させたい
        this.StateHasChanged();
        ShowSnackBar(SnackbarColor.Success, $"Success: Read {this.cartridge.GameTitle}");
    }
}
